<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<style>
    body{
        background-color: rgb(150, 127, 255);
    }
</style>
<body>
    <form action="register" method="POST" align="center">
        <div>
            <label>Enter username:</label>
            <input type="text" name="username" id="username" placeholder="Enter username" required>
        </div>
        <div>
            <label>Contact number:</label>
            <input type="tel" name="number" id="number" placeholder="Mobile number" required>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" id="password" placeholder="Password" required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
        <div>
            <a href="">Back to Home</a>
        </div>
    </form>
</body>
</html>